# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Database & Environments
*.db
*.sqlite
*.sqlite3
.env

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
.idea/
.vscode/
